<div class="row-fluid">
    <div ng-hide="page.loginState != 1 || (page.loading && !page.totalCnt())" ng-controller="TasksGridCtrl">
        <div class="panel panel-default top-buffer">
            <table class="table-tasks" ng-class="page.grid.cssClass" id="tasksTable">
                <caption class="text-left">
                    <b ng-bind="page.grid.caption"></b><b id="updateTime" ng-bind="page.grid.updateTime"></b>
                </caption>

                <thead style="cursor: pointer; vertical-align: middle;">
                    <tr>
                        <th class="text-center">#</th>
                        <!-- In the cycle prints the name of the column, specify for each column click handler and the icon (sorting) -->
                        <th ng-repeat="column in page.grid.columns" class="text-center"
                            ng-style="column.width ? { width: column.width + 'px' } : ''"
                            ng-click="page.sort(column.property, page.isUp)">
                            <span ng-bind="column.name" style="padding-right: 4px;"></span>

                            <i style="margin-top: 3px"
                               ng-class="page.sortIcon"
                               ng-show="column.property == page.predicate"></i>

                            <i style="color: #ccc; margin-top: 3px"
                               class="fa fa-sort pull-right"
                               ng-show="column.property != page.predicate"></i>
                        </th>

                        <th class="text-center">Action</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <!-- Control buttons and messages -->
                        <td colspan="{{page.grid.columns.length + 2}}">
                            <p ng-hide="page.grid.items.length">There is no task(s) for current user.</p>
                            <span ng-show="page.grid.items.length">
                                Showing {{page.totalCnt()}} of {{page.grid.items.length}} task(s).
                            </span>
                        </td>
                    </tr>
                </tfoot>

                <tbody style="cursor: default;">
                    <!-- In the cycle prints the table rows (sort by specified column) -->
                    <tr ng-repeat="item in page.grid.items | orderBy:page.predicate:page.isUp | filter:query"
                        ng-class="item.rowCss">
                        <td ng-bind="$index + 1" class="text-right"></td>

                        <!-- In the cycle prints the table cells to each row -->
                        <td ng-repeat="column in page.grid.columns" ng-style="{'text-align': column.align}">
                            <span class="label label-new" ng-show="$first && item.isNew">New</span>
                            <span ng-hide="$first" ng-bind="utils.getPropertyValue(item, column.property)"></span>
                        </td>

                        <td class="text-center" style="width: 75px">
                            <div title="Accept task"
                                 class="button button-success fa fa-plus-circle"
                                 ng-click="page.save('$Accept', item.id)"
                                 ng-show="!!item.isNew">
                            </div>

                            <div title="Details"
                                 class="button button-info fa fa-search"
                                 ng-click="page.modalOpen('lg', item.id)"
                                 ng-show="!item.isNew">
                            </div>

                            <div title="Yield task"
                                 class="button button-danger fa fa-minus-circle"
                                 ng-click="page.save('$Relinquish', item.id)"
                                 ng-show="!item.isNew">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>